
{% extends "base.html" %}
{% block title %}Home Page{% endblock %}
{% block content %}


    <div id="headlights" class="image-container" style="display: flex;">
        <img src="https://www.vollorlawfirm.com/images/blog/iStock-1075503022.jpg" alt="headlights" style="width:15%;height:15%;">
        <a href="/contact" id="homepage">Contact</a>
      </div>
      
      <div id="headlights-2" class="image-container" style="display: flex; margin-top: 10px;">
        <img src="https://www.vollorlawfirm.com/images/blog/iStock-1075503022.jpg" alt="headlights" style="width:15%;height:15%;">
        <a href="/" id="homepage-2">Logout</a>
      </div>

      
      <h1 style="margin-top: 50px;">Webpage under development</h1>
{% endblock %}